.tools {
  width: 800px;
  margin: 32px auto;
  .ant-input {
    margin-bottom: 16px;
  }
}

.react-node {
  width: 100%;
  height: 100%;
  border: 1px solid #5f95ff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
  }
  span {
    margin-left: 4px;
    font-size: 12px;
    color: #000000a6;
  }
}

.stutterer {
  transform: scale(1.5);
  height: 310px;
  width: 310px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 200px;
}

.clockHand {
  stroke: white;
  stroke-width: 10px;
  stroke-linecap: round;
}

.clockFace {
  stroke: white;
  stroke-width: 10px;
}

.innerLine {
  border-radius: 6px;
  position: absolute;
  height: 149px;
  left: 47.5%;
  top: 0%;
  width: 5%;
  background-color: red;
  transform-origin: bottom center;
}
