.x6-graph-wrap {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
  padding: 32px 0;

  > h1 {
    display: block;
    width: 800px;
    margin: 0 auto 32px auto;
  }
}

.x6-graph-tools {
  width: 800px;
  margin: 0 auto 32px auto;
}

.x6-graph {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 1px #e9e9e9;
  margin: 0 auto;
}

.x6-node-selected {
  rect {
    stroke: #1890ff;
  }
}

.home {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}
