.app {
  font-family: sans-serif;
  padding: 0;
  display: flex;
  padding: 16px 8px;
}

.app-side {
  width: 336px;
  bottom: 0;
  padding: 0 8px;
}

.app-content {
  flex: 1 1;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.ant-card {
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.ant-card-head-title {
  text-align: center;
}

.ant-row {
  margin: 16px 0;
  text-align: left;
}

.ant-radio-wrapper {
  width: 120px;
}

.slider-value {
  background: #eee;
  color: #333333;
  padding: 3px 7px;
  border-radius: 10px;
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
  line-height: 1.25;
}

.demo-toolbar {
  display: block;
  padding: 12px 8px;
  opacity: 0.7;
  transition: opacity 0.3s;
  border-bottom: 1px dashed #f0f0f0;
}
.demo-toolbar:hover {
  opacity: 1;
}
.demo-toolbar > * {
  display: inline-block;
}
.demo-toolbar a {
  color: inherit;
}
.demo-toolbar form {
  display: inline-block;
}
.demo-toolbar form:active,
.demo-toolbar form:focus,
.demo-toolbar button:active,
.demo-toolbar button:focus {
  outline: none;
}
.demo-toolbar button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}
.demo-toolbar .anticon {
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.demo-toolbar .anticon:hover {
  transform: scale(1.25);
}

.demo-wrap {
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}

