.connect-strategy-app {
  display: flex;
  width: 100%;
  padding: 0;
  font-family: sans-serif;

  .app-content {
    flex: 1;
    height: 280px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 5px;
    box-shadow: 0 12px 5px -10px rgb(0 0 0 / 10%), 0 0 4px 0 rgb(0 0 0 / 10%);
  }

  .x6-available-node rect {
    fill: rgb(192 217 252 / 20%);
    stroke: #3384f5;
  }

  .x6-available-magnet rect {
    fill: rgb(192 217 252 / 20%);
    stroke: #3384f5;
  }

  .x6-available-magnet path:nth-child(2) {
    stroke: #3384f5;
  }
}
