:global {
  .x6-dropdown {
    position: absolute;
    z-index: 9999;
    top: -9999px;
    left: -9999px;
    display: block;
    overflow-y: scroll;
    max-height: 240px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }

  .x6-dropdown-hidden {
    display: none;
  }

  .x6-dropdown.slide-down-enter.slide-down-enter-active.x6-dropdown-placement-bottomLeft, .x6-dropdown.slide-down-appear.slide-down-appear-active.x6-dropdown-placement-bottomLeft, .x6-dropdown.slide-down-enter.slide-down-enter-active.x6-dropdown-placement-bottomCenter, .x6-dropdown.slide-down-appear.slide-down-appear-active.x6-dropdown-placement-bottomCenter, .x6-dropdown.slide-down-enter.slide-down-enter-active.x6-dropdown-placement-bottomRight, .x6-dropdown.slide-down-appear.slide-down-appear-active.x6-dropdown-placement-bottomRight {
    animation-name: antSlideUpIn;
  }

  .x6-dropdown.slide-up-enter.slide-up-enter-active.x6-dropdown-placement-topLeft, .x6-dropdown.slide-up-appear.slide-up-appear-active.x6-dropdown-placement-topLeft, .x6-dropdown.slide-up-enter.slide-up-enter-active.x6-dropdown-placement-topCenter, .x6-dropdown.slide-up-appear.slide-up-appear-active.x6-dropdown-placement-topCenter, .x6-dropdown.slide-up-enter.slide-up-enter-active.x6-dropdown-placement-topRight, .x6-dropdown.slide-up-appear.slide-up-appear-active.x6-dropdown-placement-topRight {
    animation-name: antSlideDownIn;
  }

  .x6-dropdown.slide-down-leave.slide-down-leave-active.x6-dropdown-placement-bottomLeft, .x6-dropdown.slide-down-leave.slide-down-leave-active.x6-dropdown-placement-bottomCenter, .x6-dropdown.slide-down-leave.slide-down-leave-active.x6-dropdown-placement-bottomRight {
    animation-name: antSlideUpOut;
  }

  .x6-dropdown.slide-up-leave.slide-up-leave-active.x6-dropdown-placement-topLeft, .x6-dropdown.slide-up-leave.slide-up-leave-active.x6-dropdown-placement-topCenter, .x6-dropdown.slide-up-leave.slide-up-leave-active.x6-dropdown-placement-topRight {
    animation-name: antSlideDownOut;
  }
}
