:global {
  .x6-editor-color-picker-overlay {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner-content {
      padding: 0;
      background: transparent;
    }
  }

  .x6-editor-color-picker {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: rgb(255, 255, 255);
  }

  .x6-editor-color-picker-block {
    height: 16px;
    border-radius: 2px;
  }
}
