:global {
  .nb-toolbar {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    min-height: 22px;
    margin: 0;
    padding: 0;
    padding-left: 4px;

    .nb-toolbar-content {
      display: flex;
      overflow: hidden;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
    }

    .nb-toolbar-content-inner, .nb-toolbar-content-extras, .nb-toolbar-group, .nb-toolbar-item, .nb-toolbar-item-icon, .nb-toolbar-item-text {
      display: flex;
      flex-direction: row;
    }

    .nb-toolbar-content-extras {
      align-content: center;
      align-items: center;
    }

    .nb-toolbar-group {
      &::before {
        align-self: center;
        width: 1px;
        height: 40%;
        margin: 0 6px;
        content: ' ';
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.15);
      }

      &:first-child::before {
        content: none;
      }
    }

    .nb-toolbar-item {
      align-content: center;
      align-items: center;
      margin: 0;
      padding: 0 4px;
      cursor: pointer;
      user-select: none;
      border: 0;
      border-radius: 0;
      outline: none;
      background-color: transparent;
      box-shadow: none;

      &.nb-toolbar-item-hidden {
        display: none;
      }

      &.nb-toolbar-item-disabled, &.nb-toolbar-item-disabled:hover {
        cursor: not-allowed;
        opacity: 0.4;
      }

      &.nb-toolbar-item-disabled .nb-toolbar-item-icon &:active {
        transform: none;
      }
    }

    .nb-toolbar-item-icon, .nb-toolbar-item-text {
      align-content: center;
      align-items: center;
    }

    .nb-toolbar-item-icon {
      font-size: 16px;
      transition: transform 50ms ease;

      &:active {
        transform: scale(1.272019649);
      }
    }

    .nb-toolbar-item-text {
      padding-left: 4px;
    }

    .nb-toolbar-item-dropdown-wrap {
      margin-top: -13px;
    }

    &.nb-toolbar-small {
      .nb-toolbar-item {
        margin: 0 2px;
      }

      .nb-toolbar-item-icon {
        font-size: 14px;
      }
    }

    &.nb-toolbar-mini {
      .nb-toolbar-item {
        padding: 0 6px;
      }

      .nb-toolbar-item-icon {
        font-size: 12px;
      }
    }
  }

  .nb-toolbar-item.nb-toolbar-item-active, .nb-toolbar.nb-toolbar-hover-effect .nb-toolbar-item:hover {
    border-radius: 2px;
    background-color: #353535;
  }
}
