.app {
  font-family: sans-serif;
  padding: 0;
  display: flex;
  padding: 16px 8px;
}

.app-content {
  flex: 1 1;
  height: 280px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 0 10px 1px #e9e9e9;
}

.demo-toolbar {
  display: block;
  padding: 12px 8px;
  opacity: 0.7;
  transition: opacity 0.3s;
  border-bottom: 1px dashed #f0f0f0;
}
.demo-toolbar:hover {
  opacity: 1;
}
.demo-toolbar > * {
  display: inline-block;
}
.demo-toolbar a {
  color: inherit;
}
.demo-toolbar form {
  display: inline-block;
}
.demo-toolbar form:active,
.demo-toolbar form:focus,
.demo-toolbar button:active,
.demo-toolbar button:focus {
  outline: none;
}
.demo-toolbar button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}
.demo-toolbar .anticon {
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.demo-toolbar .anticon:hover {
  transform: scale(1.25);
}

.demo-wrap {
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}

