.chart {
  display: flex;
  padding-left: 16px;
  > div {
    width: 60px;
    height: 30px;
    border: 2px solid #31d0c6;
    margin-right: 16px;
    background-color: #f8b9a6;
    cursor: pointer;
    &:hover {
      cursor: move;
    }
  }
  .ellipse {
    border-radius: 20px;
  }
}