name: CI
on: [push, pull_request]
jobs:
  run:
    runs-on: macOS-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install yarn and lerna
      run: |
        npm install -g yarn
        npm install -g lerna
    - name: Bootstrap
      run: |
        yarn bootstrap
    - name: Build & Test
      run: |
        yarn build
        yarn test
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./packages/x6/test/coverage/lcov.info
