name: Label(Branch Name)
on:
  pull_request:
    types: [opened]
jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: TimonVS/pr-labeler-action@v3
        with:
          configuration-path: .github/workflows-config/pr-label-branch-name.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}