@import '../../style/index';

@snapline-prefix-cls: ~'@{x6-prefix}-widget-snapline';

.@{snapline-prefix-cls} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;

  &-vertical,
  &-horizontal {
    position: absolute;
    opacity: 1;
    pointer-events: none;
  }

  &-horizontal {
    border-bottom: 1px solid #2ecc71;
  }

  &-vertical {
    border-right: 1px solid #2ecc71;
  }
}
